/* overridden Bootstrap / Material UI styles */

/* Google fonts, locally hosted */
@import 'roboto';
@import 'material_icons_round';

@import 'nouislider';

body {
    font-size: $font-size-sm;
}
header h1, header h2 {
    text-shadow: $text-shadow-lg;
}
header p {
    text-shadow: $text-shadow;
}
h3 { 
    font-size: $font-size-2xl 
}
.lead {
    font-size: $font-size-lg;
}

/* a more recognisable font for branding */
.navbar .navbar-brand,
    .footer .footer-brand {
        font-family: "Roboto Slab" !important;
}

/* hamburger menu */
.navbar-toggler {
    border: 0 !important;
}

.nav-item .material-icons-round {
    font-size: $font-size-base;

    &:not(.active) {
        color: $gray-500;
    }
}
/* list/table view toggle */
.nav-link.material-icons-round {
    font-size: $font-size-xl;
    padding: .4rem;

    &.active {
        color: $primary;
        //background-color: $gray-200;
        border-radius: $border-radius-md;
    }

    &:not(.active) {
        color: $gray-500;

        &:hover {
            color: $font-color;
        }
    }
}

.card { 
    box-shadow: none;
}

// remove pager border circles
.page-link { 
    border: none;
    box-shadow: none;
}
.page-item.active .page-link {
    box-shadow: none;
}
.page-link.active, 
    .active > .page-link {
        color: $white;
        background-color: $primary;
}
.page-link:focus {
    box-shadow: none;
}


.btn-check:focus + .btn, 
    .btn:focus,
    .btn.show:focus {
        box-shadow: none;
}

/* force white caption on all occassions */
.btn-check:checked + .btn,
    .btn-check:active + .btn,
    .btn:active,
    .btn-active,
    .btn-show,
    .btn.show {
        color: $white;
}
.btn-primary,
    .btn-secondary, 
    .btn-dark, 
    .btn-danger {
        box-shadow: none;
}
/* BS offcanvas, modal close button */
.btn-close {
    color: $font-color;
    background-image: none;

    &:hover {
        color: $headings-color;
    }
}

/* replace FontAwesome symbols with local Material Icons */
.dropdown .dropdown-toggle:after, 
    .dropup .dropdown-toggle:after, 
    .dropstart .dropdown-toggle:after, 
    .dropend .dropdown-toggle:after {
        content: "\e5cf";
        font-family: "Material Icons Round";
        font-size: $font-size-lg;
        line-height: $font-size-lg;
        margin-left: 0;
        border: 0;
        /* fix index page search box dropdown vertical alignment issue */
        vertical-align: -.255em;
}
.dropdown .dropdown-menu:before {
    content: "";
    font-family: inherit;
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:after {
    content: "\e5ca";
    font-family: "Material Icons Round";
    font-weight: 800;
}


/* align header items on non-front pages normally? */
.page-header {
    align-items: normal;
    min-height: auto;
}

.fluid-bg { background: $headerless-gradient; }
.glossy { background: $gray-blue-gradient !important }
.header-plain { background-color: $gray-turqoise }

/* thinner bottom border/line for active form elements */
.input-group.input-group-dynamic .form-control, .input-group.input-group-dynamic .form-control:focus, .input-group.input-group-static .form-control, .input-group.input-group-static .form-control:focus {
    background-image: linear-gradient(0deg, $primary 1px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
    border-radius: 0 !important;
}

/* search bar input group */
.input-group input.form-control {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
}
.input-group .dropdown-toggle {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* align search icon (submit button) */
form[name=search] .input-group-text {
    padding-top: .5em;
}


/* change radio buttons to solid cicles */
.form-check:not(.form-switch) .form-check-input[type=radio]:checked {
    //border-width: 2px;
}

.index-page .badge {
    font-size: $font-size-xs;
}


.nav-pills .nav-link
.nav-pills .nav-link.active { 
    background-color: $white;
    color: $headings-color;
}
.nav-pills .material-icons-round {
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.4rem;
}

// force mini scrollbar'd area
#filter-category-container {
    height: 190px;
    padding-top: 0.4em;
    //overflow-y: scroll;
    //box-shadow: 0 20px 10px -21px rgba(0,0,0,0.2) inset, 0 -20px 10px -21px rgba(0,0,0,0.2) inset;
    // perfect-scrollbar.js:
    overflow: hidden;
    position: relative;
}
// set perfect-scrollbar.js scrollbar thumb to visible at all times
.ps__rail-x,
.ps__rail-y {
  opacity: 0.6;
}

.filter-num {
    color: $font-color;
    background-color: $gray-100;
    font-size: $font-size-xs;
    font-weight: 400;
    margin-top: .2rem;
    padding: .25rem .6rem;
    margin-left: 3px;
    // hide until we have full facet search functionality
    display: none;
}

/* buttons with icons */
.btn-icon {
    .caption { 
        vertical-align: middle;
    }

    .material-icons-round {
        font-size: $font-size-base;
        vertical-align: middle;
        margin-left: 3px;
    }
}

.result-item {
    background-color: $gray-100;

    .label {
        font-weight: $font-weight-bold;
    }
}

#table-view {
    /* fit contents in available area */
    overflow: scroll;
}

// decrease th padding
.table thead th {
    padding: .5rem;
}


/* entry page */
#information {
    .label {
        font-size: $font-size-base;
        color: $white;
        font-weight: $font-weight-bold;
    }

    .value {
        font-size: $font-size-base;
        color: $white;
        font-weight: normal;
    }

    a {
        text-decoration: underline;
        color: $white;
    }

    ul.lineage-path { 
        list-style: none;
        margin-left: -2rem;
    
        li {
            display: inline;

            &.hidden-True { display: none }
        }
    }

    .lineage-path li:not(:last-child):after {
        content: " > ";
    }
}

/* HistoneDB styles */
.legend-color {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.legend-label {
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
    line-height: 2.3em;
    margin-left: 10px;
}

/* Molstar viewer */
#viewer-container { 
    overflow: hidden;
    border-radius: $border-radius-xl;
}

#mspViewer {
    display: block;
    width: calc(100% + 315px); // change for small screens
    height: 80vh;
    position: relative;
}

.msp-plugin .msp-viewport {
    background-color: #fff !important;
}
.msp-plugin .msp-layout-standard,
.msp-plugin .msp-layout-top,
.msp-plugin .msp-layout-right {
    border: none !important;
}
.msp-plugin { border-radius: $border-radius-xl }
.msp-plugin .msp-layout-top,
.msp-plugin .msp-sequence { 
    border-top-left-radius: $border-radius-xl;
    border-top-right-radius: $border-radius-xl;
}
.msp-plugin canvas {
    border-bottom-left-radius: $border-radius-xl;
    border-bottom-right-radius: $border-radius-xl
}

/* PAE section */
#pae-container {
    width: 242px;
    height: 200px;
    overflow: hidden;
    background-size: 1500px; // scale to 1/2

    /* at 1/2 size */
    &.r1 { background-position: -157px 0 }
    &.r2 { background-position: -397px 0 }
    &.r3 { background-position: -638px 0 }
    &.r4 { background-position: -878px 0 }
    &.r5 { background-position: -1120px 0 }
}

/* coverage section */
#coverage-container,
#plddt-container {
    width: 800px;
    height: 500px;
    background-size: 800px;
}

/* attribution section */
#attribution p {
    font-size: $font-size-sm;
}
#attribution p a,
#group-information a {
    color: $white;
    opacity: .6;

    &:hover { 
        color: $primary;
        opacity: 1;
    }
}

/* noUiSlider */
.slider-round {
    height: 2px;
    border: none;
    /* add margin for (always visible) tooltips */
    margin-top: 2.6rem;
    /* add padding to contain slider handles within track */
    padding: 0 9px;
}
/* slider track between handles */
.slider-round .noUi-connect {
    background: $primary;
}

.slider-round .noUi-handle {
    height: 18px;
    width: 18px;
    top: -2px   ;
    right: -9px; /* half the width */
    border-radius: 9px;
    box-shadow: none;
}

.noUi-horizontal .noUi-tooltip {
    border: none;
    color: $font-color;
    background-color: $gray-100;
    padding: .15rem .6rem;
    margin-bottom: .2rem;
    border-radius: $border-radius-md;
}

/* flat look for track */
.noUi-target {
    box-shadow: none;
    background-color: $gray-200;
}

.noUi-horizontal .noUi-handle {
    background-color: $primary;
}

.noUi-handle {
    border: 1px solid $primary;
}

.noUi-handle:before,
    .noUi-handle:after {
        display: none;
    }