$fresh-gray-light:         #d5dce0;
$fresh-gray-mid:           #94a0b4;
$fresh-gray-dark:          #818b9b;
$gray-turqoise:             #8b9ca2;
$orangey:                   #ed6a5b;
$burned-orange:             #d6695d;

$text-off-white:            #f0f2f4;
$text-more-contrasty-dark:  #23324a;

$glossy-gradient: linear-gradient(180deg, $gray-turqoise 0%, rgba(207,212,222,1) 80%, rgba(240,242,245,1) 100%);
$gray-blue-gradient: linear-gradient(180deg, #4592ad 0%, rgba(207,212,222,1) 80%, rgba(240,242,245,1) 100%);

$text-shadow-lg: 2px 2px 4px rgba(0,0,0,0.2);
$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
