<p>The ProHistoneDB database is a histone database developed at Leiden University by Samuel Schwab, Tim Jansen, Michel Olsthoorn, and Remus Dame.
It aims to give a complete overview of all histones in archaea, bacteria, and bacteriophages.</p>
<p>ProHistoneDB is based on UniProt.
We find prokaryotic histones in UniProt by retrieving all proteins which are annotated in InterPro as being part of the Histone-fold superfamily (IPR009072).
Furthermore, we search for histones in UniProt with our own constructed HMM profiles.
For each histone, we predict monomer, dimer, tetramer, and hexamer structures with AlphaFold2 and AlphaFold2-Multimer.
These predicted structures can be viewed and downloaded on each histone page.
We strongly advise users to always analyse the predicted local distance difference test (pLDDT) and the predicted aligned error (PAE) which are displayed on the protein structure and in a 2-dimensional plot, found just below the structure, respectively.
These predicted errors are vital in understanding the structures and interfaces as predicted by AlphaFold.</p>
<p>We have categorised all histones based on their AlphaFold structures.
A summary for each category can be found on the respective category page.
Our findings are explained in more detail in the following two papers:</p>
<ol>
    <li><a href="https://doi.org/10.1038/s41467-024-52337-y">Samuel Schwab, Yimin Hu, Bert van Erp, Marc K.M. Cajili, Marcus D. Hartmann, Birte Hernandez Alvarez, Vikram Alva, Aimee L. Boyle & Remus T. Dame. Histones and histone variant families in prokaryotes. <em>Nature Communications</em> (2024)</a></li>
    <li><a href="https://doi.org/10.1016/j.jmb.2026.169644">Samuel Schwab, Tim Jansen, Michel J. Olsthoorn, and Remus T. Dame. ProHistoneDB: A database of prokaryotic and viral histones. <em>Journal of Molecular Biology</em> (2026)</a></li>
</ol>
<p>Please cite these two papers if you make use of a ProHistoneDB prediction.</p>
<p>The full dataset is available <a href="https://prohistonedb.leidenuniv.nl/data/structures_20250524.tar.gz">here</a> (85 GB zipped/285 GB unzipped).</p>