<h2>Bacterial H2A;H2B</h2>
<p><a href="/search?cid=15">Bacterial H2A;H2B histones</a> are exclusive to Streptomyces bacteria.
Bacterial H2A;H2B are doubles histones as they contain two histone folds in the monomer.
These two histone folds self dimerise to form a structure identical to the eukaryotic H2A;H2B heterodimer.
As sequence identity is low between bacterial H2A;H2B histones and eukaryotic H2A;H2B, we do not think these are contaminations.</p>
<p>Interestingly, bacterial H2A;H2B histones can be clustered into three different groups which share little sequence identity.
How Streptomyces acquired these eukaryotic-like proteins and why there is so much sequence divergence between some bacterial H2A;H2B histones even though they are from very closely related organism is unknown.
As the bacterial H2A;H2B histones diverge so much from their eukaryotic counterparts, it is unclear if they bind DNA.
Most bacterial H2A;H2B, however, do contain positively charged a1 faces.
Furthermore, they also contain a long N-terminal tail and some contain the acidic patch.
A bacterial H2A;H2B is present in the model organism <a href="https://www.uniprot.org/uniprotkb/Q9AK10/entry">Streptomyces coelicolor (strain ATCC BAA-471 / A3(2) / M145)</a>.</p>