<h2>Bacterial dimer</h2>
<p><a href="/search?cid=2">Bacterial dimer histones</a> are part of the a3 superfamily as they contain a truncated a3 helix.
They are found in the bacteria Bdellovibrionota (class Bdellovibrionia), Elusimicrobiota, Spirochaetota (class Spirochaetia), Planctomycetota, Myxococcota, and Chlamydiota.
They likely function as dimers as the largest confident multimer prediction from AlphaFold is a dimer.
A recent crystal structure suggests that bacterial dimers form protein:DNA filaments [1].</p>
<h3>Literature</h3>
<ol>
    <li>Antoine Hocher, Shawn P. Laursen, Paul Radford, Jess Tyson, Carey Lambert, Kathryn M. Stevens, Mathieu Picardeau, R. Elizabeth Sockett, Karolin Luger, and Tobias Warnecke. Histone-organized chromatin in bacteria. <em>bioRxiv</em>, 2023.</li>
</ol>