<h2>Bacterial dimer</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Bacterial dimer histones</a> are α3 histones defined by their dimeric multimerization. Their dimer form is the largest multimer that they can form.
They are exclusive to bacteria. They bind to DNA as dimers and bend DNA. An alternative DNA-binding mode that has been suggested is that they coat the DNA.</p>
<p>Model bacterial dimer histones are:
    <ul>
        <li>
            <a href="/entry/Q6MRM1">HBb</a> from from <em>Bdellovibrio bacteriovorus</em>.
        </li>
    </ul>
</p>