<h2>Beta-propeller histone</h2>
<p><a href="/search?cid=18">Beta-propeller histones</a> are scarcely found in various bacterial metagenomes.
In the monomer, four histone folds are found on the N-terminus.
These four histone folds self-dimerise into two dimeric histone folds, which further tetramerize into a unique structure.
As there are no positively charged patches on this histone structure, it is unlikely that it binds DNA.
Interestingly, the histone folds contain extra secondary structures, such as an additional alpha helix preceding the a1 helix as well as beta-sheets and an alpha helix in the linker which connects two histone folds.
The C-terminal domain contains a beta-propeller structure.
This structure is similar to to the eukaryotic human cartilage acidic protein 1 (CRTAC1), an extracellular matrix protein of unknown function.</p>