<h2>Overview</h2>
<p>Prokaryotic histones can be divided into roughly three groups:</p>

<h3>The nucleosomal superfamily</h3>
<p>The nucleosomal superfamily consists of histones which form a nucleosomal tetramer structure and which can extend this structure into a superhelix.
This superfamily is exclusive to archaea.
Histones from this superfamily likely form hypernucleosome structures.</p>

<h3>The a3 superfamily</h3>
<p>The a3 superfamily consists of histones which have a truncated a3 helix. This superfamily is similar in total number of histones to the nucleosomal superfamily.
However, unlike the nucleosomal superfamily, a3 histones are found in both bacteria and archaea.
The superfamily consists of 4 histone groups: bacterial dimer, face-to-face, ZZ, Rab GTPase, and phage histones.
Each one of these groups likely fulfills a different function. Bacterial dimer histones bend DNA while face-to-face histones wrap DNA.
Phage histones are predicted to bridge DNA. Rab GTPase histones likely also bind DNA, possibly bending DNA.
The histone-fold of ZZ histones is very similar to bacterial dimer histones, thus the histone-fold likely bends DNA.
However, the ZZ-domain might also bind DNA.
In this case ZZ histones can possibly bridge DNA by binding separate DNA duplexes at the histone fold and at the ZZ-domain.</p>

<h3>Minor categories</h3>
<p>While nucleosomal and a3 histones make up the majority of histones in prokaryotes, a substantial number of histones are part of smaller minor categories.
These minor categories do not form a cohesive superfamily because of high divergence on a sequence level.
However, some minor categories likely fulfill similar roles, such as coiled-coil, Methanococcales, Nanohalo coiled-coil, phage, Theion coiled-coil, and RdgC histones which we predict to all bridge DNA.</p>


