<h2>Categories overview</h2>
<p>Prokaryotic histones can be divided into roughly three groups:</p>
<h3>The nucleosomal superfamily</h3>
<p>The nucleosomal superfamily consists of histones which form a nucleosomal tetramer structure and which can extend this structure into a superhelix.
This superfamily is exclusive to archaea.
Histones from this superfamily likely form hypernucleosome structures.</p>
<h3>The a3 superfamily</h3>
<p>The a3 superfamily consists of histones which have a truncated a3 helix.
This superfamily is similar in size to the nucleosomal superfamily.
However, unlike the nucleosomal superfamily, a3 histones are found in both bacteria and archaea.
The superfamily consists of 4 histone groups: bacterial dimer, fold-to-fold, ZZ, Rab GTPase, and phage histones.
Each one of these groups likely fulfils a different function.
However, they all likely bind DNA.</p>
<h3>Minor categories</h3>
<p>While nucleosomal and a3 histones make up the majority of histones in prokaryotes (69%), a substantial number of histones are part of smaller minor categories.
These minor categories do not form a cohesive superfamily because of high divergence on a sequence level.
However, some minor categories likely fulfil similar roles, such as coiled-coil, Methanococcales, and Nanohalo coiled-coil histones which we predict to all three bridge DNA.</p>