<h2>Coiled-coil histone</h2>
<p><a href="/search?cid=16">Coiled-coil histones</a> are widely distributed throughout archaea and are found in Aenigmatarchaeota, Altiarchaeota, B1Sed10-29, EX4484-52, Iainarchaeota, Methanobacteriota, Micrarchaeota, Nanoarchaeota, Nanohaloarchaeota, and Undinarchaeota.
They contain a C-terminal tail which contains a large alpha helix.
These C-terminal alpha helices are predicted to form a tetrameric coiled-coil domain.
In this tetramer structure, two dimers stand opposite each other and interact through their C-terminal tails.
This structure is highly similar to the predicted tetramer structure of Methanococcales histone MJ1647, for which DNA-bridging has been shown experimentally [1].
Therefore, we predict that coiled-coil histones bridge two DNA duplexes, one duplex at each histone dimer.
Coiled-coil histones often contain disordered N- and C-terminal tails which are strongly negatively charged.
However, these tails are missing in <a href="/entry/E3GZL0">the coiled-coil histone from <em>Methanothermus fervidus</em></a>, the archeon which contains the model nucleosomal histones HMfA/B.</p>
<h3>Literature</h3>
<ol>
    <li>Sapir Ofer, Fabian Blombach, Amanda Erkelens, Declan Barker, Samuel Schwab, Katherine Smollett, Dorota Matelska, Thomas Fouqueau, Nicholas Kent, Remus Dame, and Finn Werner. DNA-bridging by an archaeal histone variant via a unique tetramerisation interface. <em>Research Square</em>, 2023.</li>
</ol>