<h2>DUF1931 histones</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">DUF1931 histones</a> are predominantly found in bacteria but they also appear in the Thermococci archaea.
They are double histones, meaning that the monomer contains two histone folds.
The two histone folds self dimerise in the dimer prediction.
The linker which connects the two histone folds contains an extra alpha helix.
AlphaFold predicts a dimer structure which looks similar to the fold-to-fold tetramer prediction.
As we find no strongly conserved conventional DNA binding residues, we are uncertain if DUF1931 histones bind DNA.
Little is known about these histones, except a crystal structure of the monomer and that the Thermococci DUF1931 histones might play a role in temperature adaptation [1,2].</p>
<h3>Literature</h3>
<ol>
    <li>Yang Qiu, Valentina Tereshko, Youngchang Kim, Rongguang Zhang, Frank Collart, Mohammed Yousef, Anthony Kossiakoff, and Andrzej Joachimiak. The Crystal Structure of Aq_328 from the Hyperthermophilic Bacteria Aquifex Aeolicus Shows an Ancestral Histone Fold. <em>Proteins: Structure, Function, and Bioinformatics</em>, vol. 62, no. 1, Nov. 2005, pp. 8–16. <a href="https://doi.org/10.1002/prot.20590">DOI: 10.1002/prot.20590</a></li>
    <li>Kathryn M. Stevens, Antoine Hocher, Tobias Warnecke. Deep Conservation of Histone Variants in Thermococcales Archaea. <em>Genome Biology and Evolution</em>, vol. 14, no. 1, Jan. 2022,p. evab274. <a href="https://doi.org/10.1093/gbe/evab274">DOI: 10.1093/gbe/evab274</a></li>
</ol>