<h2>Face-to-face</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Face-to-face (FtF) histones</a> are part of the a3 superfamily, as they contain a truncated a3 helix, and are its largest member.
FtF histones are after nucleosomal histones the most common histone type in prokaryotes.
They are found in the majority of archaeal phyla and in some bacteria.
In bacteria, they are predominantly found in the phyla <em>Spirochaetota, Planctomycetota, Bdellovibrionota</em> (class <em>Bacteriovoracia</em>), and <em>Myxococcota</em>.
The FtF histones are defined by their predicted tetramer structure.
In this tetramer structure, two histone dimers interact to form a torus.
How FtF histones bind to DNA is not known, although we hypothesize that they wrap DNA around the tetramer.</p>
<p>
    Model FtF histones are:
    <ul>
        <li><a href="/entry/Q5JDW7">HTkC</a> from <em>Thermococcus kodakarensis</em>.</li>
        <li><a href="/entry/A0A2M9ZN55">HLp</a> from <em>Leptospira perolatii</em>.</li>
    </ul>
</p>

<h3>Literature</h3>
<ol>
    <li>Hu, Y., Schwab, S., Qiu, K., Zhang, Y., Bär, K., Reichle, H., Panzera, A., Lupas, A.N., Hartmann, M.D., Dame, R.T., Alva, V., Alvarez, B.H. (2025). DNA Wrapping by a Tetrameric Bacterial Histone. <em>bioRxiv</em>.
    </li>
    <li>Schwab, S., Hu, Y., van Erp, B., Cajili, M.K.M., Hartmann, M.D., Hernandez Alvarez, B., Alva, V., Boyle, A.L., & Dame, R.T. (2024). Histones and histone variant families in prokaryotes. <em>Nature communications</em>, 15(1), 7950. <a href="https://doi.org/10.1038/s41467-024-52337-y">DOI: 10.1038/s41467-024-52337-y</a></li>
    </li>
</ol>