<h1>Fold-to-fold</h1>
<p>Fold-to-fold (FtF) histones are part of the a3 superfamily, as they contain a truncated a3 helix, and are its largest member.
FtF histones are after nucleosomal histones the most common histone type in prokaryotes.
They are found in the majority of archaeal phyla and in some bacteria.
In bacteria, they are predominantly found in the phyla Spirochaetota, Planctomycetota, Bdellovibrionota (class Bacteriovoracia), and Myxococcota.
The FtF histones are defined by their predicted tetramer structure.
In this tetramer structure, two histone dimers interact to form a torus.
How FtF histones bind to DNA is not known, although we hypothesize that they wrap DNA around the tetramer.</p>