<h2>Halo doublet</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Halo doublets</a> are exclusive to Halobacteria archaea.
They are pseudodimeric histones, encoding two histone folds in a single polypeptide chain.
These two histone folds are predicted to self-dimerise.
Therefore, Halo doubletes effectively function as histone heterodimers.
As a dimer, they are predicted to form structures similar to a H3-H4 tetramer.
However, unlike nucleosomal histones, halo doublets can not form a nucleosomal structure due to their pseudodimeric nature.
Experimental data shows that Halo doubles bind at few locations genome-wide in coding and non-coding regions [1,2].</p>

<p>
    Model halo doublets are:
<ul>
    <li><a href="/entry/Q9HSP8">Q9HSP8</a> from <em>Halobacterium salinarum</em>.</li>
    <li><a href="/entry/D4GS56">D4GS56</a> from <em>Haloferax volcanii</em>.</li>
</ul>
</p>

<h3>Literature</h3>
<ol>
    <li>Sakrikar, S., & Schmid, A. K. (2021). An archaeal histone-like protein regulates gene expression in response to salt stress. <em>Nucleic acids research</em>, 49(22), 12732-12743.</li>
    <li>Dulmage, K. A., Todor, H., & Schmid, A. K. (2015). Growth-Phase-Specific Modulation of Cell Morphology and Gene Expression by an Archaeal Histone Protein. <em>mBio</em>, 6(5), e00649-15.</li>
</ol>