<h2>Halo double histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Halo double histones</a> are exclusive to Halobacteria.
They are double histones, meaning that the monomer contains two histone folds.
These two histone folds are predicted to self-dimerise.
Therefore, Halo doubles effectively function as histone heterodimers.
In the dimer prediction, halo doubles form a structure identical to the nucleosomal tetramer.
However, they can not form a nucleosomal superhelix because of their heterodimeric properties.
Therefore, Halo doubles likely strongly bend DNA as a dimer.
Experimental data shows that Halo doubles bind at few locations genome-wide in coding and non-coding regions [1].</p>
<h3>Literature</h3>
<ol>
    <li>Saaz Sakrikar and Amy K. Schmid. An archaeal histone-like protein regulates gene expression in response to salt stress. <em>Nucleic Acids Research</em>, 49(22):12732–12743, 2021.</li>
</ol>