<h2>IHF histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">IHF histones</a> are found in Proteobacteria, Elusimicrobia, Candidatus Omnitrophica, Armatimonadetes, Bacteroidetes, and Candidatus Wallbacteria.
They are rare and "exotic" histones as they appear very few metagenomes across UniProt.
IHF histones contain an unknown C-terminal domain, consisting of 2 alpha helices, which dimerises with another tail in a handshake motif.
These histones likely function as dimers as AlphaFold does not confidently predict larger oligomers.
IHF histones are always found in an operon which also contains an IHF-like protein.
These IHF-like protein share little sequence identity across organisms.
However, they are most similar to IHFb as most contain IHFb's arginine 45 which causes its sequence specificity for TTR sequences.
As the IHF histone and IHF-like genes stay together across vastly different organisms, their functions are likely related to each other.
However, what this function entails is unknown.</p>