<h2>Methanococcales histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Methanococcales (Mc) histones</a> are exclusively found in Methanococcales archaea.
They contain a C-terminal tail with two alpha helices.
These C-terminal tails are predicted by AlphaFold2 to interact in the tetramer structure.
In this tetramer structure, two histone dimers stand opposite each other and interact through their C-terminal tails.
The tetramer prediction suggests that Mc histones might bridge two DNA duplexes, one at each histone dimer.
This ability to bridge DNA has been confirmed experimentally for <a href="/entry/Q59041">histone MJ1647 from <em>Methanococcus jannaschii</em></a> [1].</p>
<h3>Literature</h3>
<ol>
    <li>Sapir Ofer, Fabian Blombach, Amanda Erkelens, Declan Barker, Samuel Schwab, Katherine Smollett, Dorota Matelska, Thomas Fouqueau, Nicholas Kent, Remus Dame, and Finn Werner. DNA-bridging by an archaeal histone variant via a unique tetramerisation interface. <em>Research Square</em>, 2023.</li>
</ol>