<h2>Methanococcales histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Methanococcales (Mc) histones</a> are exclusively found in <em>Methanococcales</em> archaea.
They are defined by an additional C-terminal α-helix which together with the α3 helix facilitates tetramerization.
In this tetramer structure, two dimeric histone fold stand opposite each other and interact through their C-terminal tails.
This tetramer bridges DNA by binding separate DNA duplexes at each dimeric histone fold [1].</p>

<p>
    Model Methanococcales histones are:
    <ul>
        <li><a href="/entry/Q59041">Q59041</a> from <em>Methanocaldococcus jannaschii</em></li>
    </ul>
</p>

<h3>Literature</h3>
<ol>
     <li>Ofer, S., Blombach, F., Erkelens, A.M., Barker, D., Soloviev, Z., Schwab, S., Smollett, K., Matelska, D., Fouqueau, T., van der Vis, N., Kent, N.A., Thalassinos, K., Dame, R.T., & Werner, F. (2023). DNA-bridging by an archaeal histone variant via a unique tetramerisation interface. <em>Communications Biology</em>, 6(1), 968. <a href="https://doi.org/10.1038/s42003-023-05348-2">DOI: 10.1038/s42003-023-05348-2</a></li>
</ol>