<h2>Pacman doublet</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Pacman doublets</a> are pseudodimeric histones from Pacman-, Kaumoeba-, and Faustoviruses, encoding two histone folds per polypeptide chain.
From the core eukaryotic histones, Pacman histones are most similar to H2A-H2B.
They are predicted to form dimers similar to a conventional nucleosomal tetramer.
Pacman doublets contain several extensions to their histone fold, including two "arms" and an additional "rear" α-helix.
They likely bind DNA in a manner similar to a H3-H4 tetramer.
The arms are predicted to possibly "grab"/encapsulate DNA.</p>