<h2>Phage histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Phage histones</a> are α3 histones from bacterial and dsDNA bacteriophage metagenomes.
These bacteriophage metagenomes are likely Caudoviricetes, as they encode tail proteins.
The α3 histone fold is on the N-terminus, while a CXXC zinc binding site and an additional α-helix are on the C-terminus.
The C-terminal helix is predicted to facilitate tetramerization.
We hypothesize that phage histones might bridge DNA as the dimeric histone hods stand opposite each other in the predicted tetramer.
Interestingly, one of the strongest conserved residues is an arginine on the side of the histone dimer.</p>