<h2>Phage histone</h2>
<p><a href="/search?cid=19">Phage histones</a> are part of the a3 superfamily as they contain a truncated a3 helix.
They are found in some Caudovirales and bacterial metagenomes.
They contain a C-terminal tail which contains an alpha helix.
In the tetramer prediction, these C-tails form the tetramerization interface.
In this tetramer structure, two histone dimers are connected through their C-terminal tails.
We hypothesize that phage histones might bridge DNA as the dimers stand opposite each other.
Interestingly, one of the strongest conserved residues is an arginine on the side of the histone dimer.</p>