<h3>Phylogenetic tree</h3>
<p>
    {% if entry is defined %}
        Phylogenetic tree of the {{entry.category.name}} category.
    {% else %}
        Phylogenetic tree of the {{categories[id|int].name}} category.
    {% endif %}
</p>
<p>    
    Each leaf is a histone belonging to this category.<br>
    The histone fold and other secondary structures are visualized next to the leaves.<br>
    Links to the ProHistoneDB entries of these histones are found by clicking on the leaves.<br>
</p>