<h3>Sequence coverage &<br/>local confidence (LDDT)</h3>
<p>
    The predicted local difference distance test (pLDDT) is a measure of AlphaFold2's local confidence in the secondary structure within domains.
</p>
<p>
    A pLDDT value is assigned to every residue and ranges from 0 to 100, with 100 being very high confidence.<br>
    The pLDDT values should not be used to evaluate the relative position of domains.<br>
    The AlphaFold2 structures are colored by their pLDDT values.
</p>
<p>
    Residues with pLDDT ≥ 90 are classified as high confidence, 90 &gt; pLDDT &gt; 70 as confident, 70 &gt; pLDDT &gt; 50 as low confidence, and pLDDT &lt; 50 as very low confidence.<br>
    Low pLDDT values (&lt;50) are generally viewed as a prediction of disorder.
</p>