<h2>Poseidoniia double histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Poseidoniia double histones</a> are a unique histone type only found in the Poseidoniia archaea.
They are double histones, meaning that the monomer contains two histone folds.
These two histone folds are present on the N-terminus.
The C-terminus contains an unknown domain.
In the dimer prediction, the four histone folds form a structure slightly similar to the nucleosomal tetramer, except that one dimeric histone fold lies on top of the other.
As Poseidoniia double histones contain conserved positively charged residues on their a1 face, we predict that they bind DNA at their a1 face similar to nucleosomal histones.
The C-terminal domain shows some structural similarity to a dimeric histone fold.
The function of the C-terminal or the Poseidoniia double histone as a whole is unknown.</p>