<h2>Poseidoniia doublet</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Poseidoniia doublets</a> are a unique histone type only found in the Poseidoniia archaea.
They are pseudodimeric histones, encoding two histone folds per polypeptide chain.
The two histone folds are the N-terminus.
A degenerated pseudodimeric histone fold is on the C-terminus.
In the dimer prediction, the four histone folds form a structure slightly similar to the nucleosomal tetramer, except that one dimeric histone fold lies on top of the other.
As Poseidoniia double histones contain conserved positively charged residues on their a1 face, we predict that they bind DNA at their a1 face similar to nucleosomal histones.</p>