<h2>RdgC histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">RdgC histones</a> are a rare histone type found in some Halobacteria and Bacillus (meta)genomes.
They are defined by a long C-terminal α-helix and their synteny.
Like coiled-coil histones, the C-terminal α-helix is predicted to a tetrameric coiled-coil.
In this tetramer, two dimeric histone folds stand opposite each other, suggesting that RdgC histones can bridge two DNA duplexes.
RdgC histones are always found in an operon that also contains a RdgC-like protein and an unknown transmembrane protein.
The conserved synteny implies a functional relationship between these three proteins.
However, what this function entails is unknown.
The bacterial RdgC histones, unlike the achaeal ones, often have intrinsically disordered negatively-charged N- and C-terminal tails.</p>