<h2>RdgC histone</h2>
<p><a href="/search?cid=5">RdgC histones</a> are a rare histone type found in some Halobacteria and Bacillus (meta)genomes.
They contain a C-terminal alpha helix which, in the AlphaFold predictions, forms a tetrameric coiled-coil domain and thus facilitates tetramerization.
In this dimer, two dimeric histone folds stand opposite each other, suggesting that RdgC histones can bridge two DNA duplexes.
RdgC histones are always found in an operon which also contains genes for an unknown transmembrane protein and an RdgC-like protein, hence the name RdgC histones.
As these genes stay together across vastly different organisms, their functions are likely related to each other.
However, what this function entails is unknown.</p>