<h2>Theion coiled-coil histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Theion coiled-coil (Theion CC) histones</a> are coiled-coiled-like histones from Theionarchaea.
Like coiled-coil (CC) histones, Theion CC histones have a C-terminal α-helix which is predicted to form a tetrameric coiled-coil.
In this tetramer, two dimeric histone folds stand opposite each other, suggesting that Theion CC histones can bridge two DNA duplexes.
The topology of the C-terminal α-helices in the predicted tetramer structure differs from CC histones.
We put the CC histones from Theionarchaea in a separate category because they share &lt;20% sequence identity with CC histones.</p>