<h2>Viral doublet</h2>

<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Viral doublets</a> are pseudodimeric histones from megaviruses, encoding two histone folds per monomer.
Generally, viral doublets encode eukaryotic-like H2A and H2B or H3 and H4 histone folds together into one monomeric protein.
Two viral doublets encoding H2A-H2B and two encoding H3-H4 from nucleosome structures with DNA [1-4].</p>

<p>
Model viral doublets are:
    <ul>
        <li><a href="/entry/A0A097I2B5">A0A097I2B5</a>, <a href="/entry//A0A097I2D0">A0A097I2D0, and <a href="/entry/A0A097I1R9">A0A097I1R9</a> from <em>Melbournevirus</em>.</li>
        <li><a href="/entry/D2XB48">D2XB48</a>, <a href="/entry/D2XB49">D2XB49</a>, and <a href="/entry/D2XAH0">D2XAH0</a> from <em>Marseillevirus marseillevirus</em>.</li>
    </ul>
</p>

<h3>Literature</h3>
<ol>
    <li>Liu, Y., Bisio, H., Toner, C.M., Jeudy, S., Philippe, N., Zhou, K., Bowerman, S., White, A., Edwards, G., Abergel, C., & Luger, K. (2021). Virus-encoded histone doublets are essential and form nucleosome-like structures. <em>Cell</em>, 184(16), 4237-4250.e19.</li>
    <li>Valencia-Sánchez, M. I., Abini-Agbomson, S., Wang, M., Lee, R., Vasilyev, N., Zhang, J., De Ioannes, P., La Scola, B., Talbert, P., Henikoff, S., Nudler, E., Erives, A., & Armache, K. J. (2021). The structure of a virus-encoded nucleosome. Nature structural & molecular biology, 28(5), 413-417.</li>
    <li>Bryson, T.D., De Ioannes, P., Valencia-Sánchez, M. I., Henikoff, J. G., Talbert, P.B., Lee, R., La Scola, B., Armache, K.J., & Henikoff, S. (2022). A giant virus genome is densely packaged by stable nucleosomes within virions. <em>Molecular cell</em>, 82(23), 4458-4470.e5.</li>
    <li>Villalta, A., Bisio, H., Toner, C.M., Abergel, C., Luger, K. (2025) Melbournevirus Encodes a Shorter H2B-H2A Doublet Histone Variant That Forms Structurally Distinct Nucleosome Structures. <em>bioRxiv</em>.</li>
</ol>