<h2>Viral singlet</h2>

<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Viral singlets</a> are histones from megaviruses that contain one histone fold per monomer.
These histone folds are similar to the eukaryotic H2A, H2B, H3, and H4 histones.
They form nucleosome structures with DNA [1].</p>

<p>
Model viral singlets are:
    <ul>
        <li><a href="/entry/A0A3T1CX62">A0A3T1CX62</a>, <a href="/entry/A0A3T1CX47">A0A3T1CX47</a>, <a href="/entry/A0A3T1CXA3">A0A3T1CXA3</a>, and <a href="/entry/A0A3T1CWJ9">A0A3T1CWJ9</a> from <em>Acanthamoeba castellanii medusavirus</em>.</li>
    </ul>
</p>

<h3>Literature</h3>
<ol>
    <li>Toner, C.M., Hoitsma, N.M., Weerawarana, S., & Luger, K. (2024). Characterization of Medusavirus encoded histones reveals nucleosome-like structures and a unique linker histone. <em>Nature communications</em>, 15(1), 9138.</li>
</ol>