<h1>Xer histone</h1>
<p>Xer histones are found in Thermoplasmatota archaea.
Their structure is defined by an elongated a2 helix, which is 6 residues longer compared to conventional nucleosomal histones.
The linker between helices a2 and a3 is also elongated, by 4 residues, to conserve the relative positions of helices a1 and a3 in the histone fold.
Sequence divergence is high between different Xer histones, although the a1 face is always positively charged suggesting that they bind DNA.
They often contain C-terminal tails.
Xer histones always appear in an operon which also contains an unknown Xer-like recombinase.
As these two genes stay together across different metagenomes, they are likely functionally related to each other.</p>