<h2>Xer histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">Xer histones</a> are found in Thermoplasmata archaea.
Xer histones are defined by their longer α2 helix and their synteny.
The α2 helix of Xer histones is two turns longer than in conventional histones, such as HMfB.
The linker between helices α2 and α3 is also elongated, by 4 residues, to conserve the relative positions of helices a1 and a3 in the histone fold.
Xer histones are always found in an operon that also includes a Xer-like recombinase.
The conserved synteny implies a functional relationship between these two proteins.
Sequence divergence is high between different Xer histones, although the a1 face is always positively charged suggesting that they bind DNA.
They often contain C-terminal tails.</p>