<h2>ZZ histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">ZZ histones</a> are α3 histones histones from <em>Bdellovibrionota</em> (class <em>Bdellovibrionia</em>), and <em>Myxococcota</em>.
A bacterial dimer-like histone fold is on the C-terminus, and a ZZ-type zinc finger is on the N-terminus.
The ZZ-type zinc finger domain has two zinc binding sites (C2H2 and C4) and is structurally similar to the ZZ-domains of eukaryotic proteins HERC2, p300, and ZZZ3.
The ZZ-domain is predicted to bind to DNA.
The histone-fold most likely binds DNA in a similar manner to the bacterial dimer histones since sequence identity is high between the two.</p>