<h2>ZZ histone</h2>
<p><a href="{{ url_for('search.index', cid=categories[id|int].id) }}">ZZ histones</a> are part of the a3 superfamily as they contain a truncated a3 helix.
They are found in the bacteria Bdellovibrionota (class Bdellovibrionia), and Myxococcota.
ZZ histones contain a bacterial dimer-like histone fold on their N-terminus and a ZZ-type zinc finger on their C-terminus.
This ZZ-domain has two zinc-binding sites and is structurally similar to the ZZ-domains of eukaryotic proteins HERC2, p300, and ZZZ3.
The histone-fold most likely binds DNA in a similar manner to the bacterial dimer histones since sequence identity is high between the two.
However, the role of the ZZ-domain is unknown.</p>