{% extends 'layouts/base.html.j2' %}

{% macro category_path(id) %}{{"contents/" + (categories[id|int].name | lower) + ".html"}}{% endmacro %}

{% block title %} {{siteName}} Category overview {% endblock title %}
{% block body %} class="categories fluid-bg" {% endblock body %}

{% block header %}

{% include 'includes/navigation_search.html.j2' %}

{% endblock header %}

{% block content %}

  <header>
    <div class="page-header pb-5">
      <div class="container">

        <div class="container mt-7">
          <div class="row">
            <div class="col-12">
              {# <h2 class="text-white pt-3">Categories overview</h2>
              <p class="lead mb-4 text-white opacity-8">...</p> #}
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>
  
  <div class="card card-body mx-3 mx-md-4">
    <section class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="row justify-content-start">
              <div class="col-md-12">
                {% if id is defined %}
                  {% include category_path(id) %}
                {% else %}
                  {% include "contents/categories overview.html" %}
                  <h3>2d cluster representation of ProHistone database</h3>
                  <div class="col-md-12 text-center">
                    <img src="{{url_for('static', filename = 'assets/img/2d_clusters.png')}}" class="col-md-9">
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  </div>
  {% endblock content %}

  {% block javascripts %}
  {% endblock javascripts %}