{% extends 'layouts/base.html.j2' %}

{% macro reload(multimer, rank) %}{{url_for('main.entry', uniprot_id=entry.uniprot_id, multimer=multimer.value, rank=rank)}}{% endmacro %}
{% macro img_path(suffix) %}{{url_for('static', filename=(entry.get_path(multimer) / entry.uniprot_id).as_posix()+suffix)}}{% endmacro %}

{% block title %} {{siteName}} {{uniprotID}} {% endblock title %}

{% block molstar %}
    <script src="https://cdn.jsdelivr.net/npm/molstar@3.31.4/build/viewer/molstar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/molstar@3.31.4/build/viewer/molstar.min.css" rel="stylesheet">
{% endblock molstar %}

{% block body %} class="entry fluid-bg" {% endblock body %}

{% block header %}
    {% include 'includes/navigation_search.html.j2' %}
{% endblock header %}

{% block content %}

<header>
    <div class="page-header pb-5">
        <div class="container">

            <div class="container mt-7">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-white pt-3">{{entry.uniprot_id}}</h2>
                    </div>
                </div>
                <div id="information" class="row opacity-8">
                    <div class="col-12">
                        <h3 class="text-white pt-3">Information</h3>

                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>Source organism</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{entry.organism.name}}</span><span class="link text-nowrap"><a href="{{ url_for('search.index', oid=entry.organism.id) }}">Search this organism</a></span>
                            </div>
                        </div>
                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>Gene</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{entry.genes|join(",")}}</span>
                            </div>
                        </div>
                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>Sequence length</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{entry.sequence|length}} AA</span>
                            </div>
                        </div>
                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>UniProt</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{entry.uniprot_id}}</span><span class="link text-nowrap"> <a href="https://www.uniprot.org/uniprotkb/{{entry.uniprot_id}}/entry">go to UniProt</a></span>
                            </div>
                        </div>
                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>Lineage</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">
                                    <ul class="lineage-path">
                                        {% for lin in entry.lineage %}
                                            {% if not lin.hidden %}
                                                <li><a href="https://uniprot.org/taxonomy/{{lin.id}}">{{lin.name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- end page header -->
</header>
  
<div class="card card-body mx-3 mx-md-4">
    <section class="my-3">
        <!-- structure / views options -->
        <div class="container">              
            <div class="row py-3 mt-3">
                <div class="col-12 start-0">
                    <div class="dropdown float-start me-2">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{multimer.value}}
                        </a>

                        <ul id="select_multimer" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {# * For now every multimer has a seperate call to the backend. #}
                            {# ? Since all required information should be available from the first call, we may want to ovload this to the client in the future. #}
                            {# ? Maybe add something to indicate the default option? #}
                            {% for mult in entry.multimers %}
                                <li><a class="dropdown-item" href="{{ reload(mult,rank) }}">{{mult.value}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="dropdown float-start">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Rank {{rank}}
                        </a>

                        <ul id="select_rank" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for n in range(5) %}
                                <li><a class="dropdown-item option-{{n + 1}}" href="{{ reload(multimer, (n + 1)) }}">Rank {{n + 1}} - Model {{entry.get_model_id(multimer, n + 1)}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="dropdown float-end">
                        <a class="btn btn-secondary dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                        </a>
                        {# * on-the-fly file zipping: https://huynvk.dev/blog/download-files-and-zip-them-in-your-browsers-using-javascript #}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">All structure data (zipped)</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="container my-3">
            <div class="row">
                <!-- sidebar left -->
                <div class="col-lg-3 d-none d-lg-block">
                    <h3>3D viewer</h3>
                    <div class="viewer-legend py-3">
                        <h5>Model confidence:</h5>
                        <div>
                            <span class="legend-color" style="background-color: rgb(0, 83, 214);">&nbsp;</span>
                            <span class="legend-label">Very high (pLDDT &gt; 90)</span>
                        </div>
                        <div>
                            <span class="legend-color" style="background-color: rgb(101, 203, 243);">&nbsp;</span>
                            <span class="legend-label">Confident (90 &gt; pLDDT &gt; 70)</span>
                        </div>
                        <div>
                            <span class="legend-color" style="background-color: rgb(255, 219, 19);">&nbsp;</span>
                            <span class="legend-label">Low (70 &gt; pLDDT &gt; 50)</span>
                        </div>
                        <div>
                            <span class="legend-color" style="background-color: rgb(255, 125, 69);">&nbsp;</span>
                            <span class="legend-label">Very low (pLDDT &lt; 50)</span>
                        </div>
                    </div>
                    <p>
                        AlphaFold produces a per-residue confidence score (pLDDT) between 0 and 100. Some regions below 50 pLDDT may be unstructured in isolation.
                    </p>
                </div>
                <div class="col-lg-9">
                    <div class="row mt-3">
                        <div id="viewer-container" class="col-lg-12"><!-- mask right sidebar Molstar viewer -->
                            <div id="mspViewer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-3">
                    <h3>Sequence coverage &<br/>local confidence (LDDT)</h3>
                </div>
                <div class="col-lg-9">
                    <div class="row mt-3">
                        <div class="columns medium-9">
                            <div id="coverage-container" class="mx-auto" style="background-image: url('{{ img_path('_coverage.png') }}')"></div>
                            <div id="plddt-container" claSS="mx-auto" style="background-image: url('{{ img_path('_plddt.png') }}')"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-3">
                    <h3>Predicted aligned error</h3>
                </div>
                <div class="col-lg-9">
                    <div class="row mt-3">
                        <div id="pae-view" class="columns medium-9">
                            <div id="pae-container" class="r{{rank | string}} mx-auto" style="background-image: url('{{ img_path('_PAE.png') }}')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="attribution" class="pb-2 position-relative bg-gradient-dark mx-n3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-start mb-5 mt-5">
                    <h3 class="text-white z-index-1 position-relative">License and attribution</h3>
                    <p class="text-white mt-5">
                        Data is available for academic and commercial use, under a <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> licence.
                    </p>
                    <p class="text-white">If you make use of a {{siteName}} prediction, please cite the following papers:</p>
                    <p class="text-white">
                        <a href="https://doi.org/10.1038/s41592-022-01488-1">Mirdita M et al. ColabFold - Making Protein folding accessible to all. <em>Nature</em> (2022)</a><br/>
                        <a href="https://www.biorxiv.org/content/10.1101/2021.10.04.463034v2">Evans R et al. Protein complex prediction with AlphaFold-Multimer. <em>bioRxiv</em> (2021)</a><br/>
                        <a href="https://doi.org/10.1038/s41586-021-03819-2">Jumper, J et al. Highly accurate protein structure prediction with AlphaFold. <em>Nature</em> (2021)</a><br/>
                        <a href="https://doi.org/10.1093/bioinformatics/bty1057">Mirdita M et al. MMseqs2 desktop and local web server app for fast, interactive sequence searches. <em>Bioinformatics</em> (2019)</a><br/>
                        <a href="https://doi.org/10.1093/nar/gkw1081">Mirdita M et al. Uniclust databases of clustered and deeply annotated protein sequences and alignments. <em>Nucleic Acid Res.</em> (2017)</a><br/>
                        <a href="https://doi.org/10.1093/nar/gkz1035">Mitchell AL et al. MGnify: the microbiome analysis resource in 2020. <em>Nucleic Acids Research</em> (2019)</a><br/>
                        <a href="https://doi.org/10.1371/journal.pcbi.1005659">Eastman P et al. OpenMM 7: Rapid development of high performance algorithms for molecular dynamics. <em>PLOS Comput. Biol.</em> (2017)</a>
                    </p>
                    <p class="text-white mt-5">AlphaFold Data Copyright (2022) DeepMind Technologies Limited.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-3">
        <div class="container">              
            <div class="row py-3 mt-3">
                <div class="col-12">
                    <h3>Disclaimer etc.</h3>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block javascripts %}
      <script>
        // get model order from config.json 
        const myViewer = document.querySelector("#mspViewer");
        const modelURL = "{{ url_for('static', filename=entry.get_cif_path(multimer, rank).as_posix()) }}";

        molstar.Viewer.create('mspViewer', {
            // https://molstar.org/docs/plugin/
            // https://molstar.org/viewer-docs/query-parameters/
            // https://github.com/molstar/pdbe-molstar/blob/master/index.html

            layoutIsExpanded: false, // expand to window
            layoutShowControls: true, // rightsidebar & sequence panel
            layoutShowRemoteState: false,
            layoutShowSequence: true,
            layoutShowLog: false,
            layoutShowLeftPanel: false,
            alphafoldView: true,

            // show/hide viewport buttons
            viewportShowExpand: true,
            viewportShowSelectionMode: false,
            viewportShowAnimation: false,
            viewportShowControls: false // control panel (= rightsidebar & sequence panel) toggle
        }).then(viewer => {
            viewer.loadStructureFromUrl(modelURL, format='mmcif'); // mmcif or pdb
        });
    </script>

{% endblock javascripts %}