{% extends 'layouts/base.html.j2' %}

{% macro reload(multimer, rank) %}{{url_for('main.entry', uniprot_id=entry.uniprot_id, multimer=multimer.value, rank=rank)}}{% endmacro %}
{% macro img_path(suffix) %}https://prohistonedb.universiteitleiden.nl/{{(entry.get_path(multimer) / entry.uniprot_id).as_posix()+suffix}}{% endmacro %}

{% block title %} {{siteName}} | {{entry.uniprot_id}}{% endblock title %}

{% block molstar %}
    <script src="{{ url_for('static', filename = 'assets/js/custom/molstar.min.js' )}}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename = 'assets/css/molstar.min.css' )}}" rel="stylesheet">
{% endblock molstar %}

{% block phyd3 %}
    <script src="{{ url_for('static', filename = 'assets/js/custom/jquery-3.7.0.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename = 'assets/js/custom/bootstrap.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename = 'assets/js/custom/d3.v3.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename = 'assets/js/custom/phyd3.min.js' )}}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename = 'assets/css/phyd3.css' )}}" rel="stylesheet">
    {# <link href="{{ url_for('static', filename = 'assets/css/bootstrap.min.css' )}}" rel="stylesheet"> #}
{% endblock phyd3 %}

{% block skylign %}
    {# <script src="{{ url_for('static', filename = 'assets/js/custom/jquery-3.7.0.min.js' )}}" type="text/javascript"></script> #}
    <script src="{{ url_for('static', filename = 'assets/js/custom/scroller.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename = 'assets/js/custom/hmm_logo.bundle.js' )}}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename = 'assets/css/hmm_logo.min.css' )}}" rel="stylesheet">
{% endblock skylign %}

{% block body %} class="entry fluid-bg" {% endblock body %}

{% block header %}
    {% include 'includes/navigation_search.html.j2' %}
{% endblock header %}

{% block content %}

<header>
    <div class="page-header pb-5">
        <div class="container">

            <div class="container mt-7">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-white pt-3">{{entry.uniprot_id}}</h2>
                    </div>
                </div>
                <div id="information" class="row opacity-8">
                    <div class="col-12">
                        <h3 class="text-white pt-3">Information</h3>

                        <div class="pb-2 row">
                            <div class="col-sm-3 label"><span>Source organism</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{entry.organism.name}}</span><span class="link text-nowrap"><a href="{{ url_for('search.index', oid=entry.organism.id) }}">Search this organism</a></span>
                            </div>
                        </div>
                        <div class="pb-2 row">
                            <div class="col-sm-3 label"><span>Category</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{entry.category.name}}</span><span class="link text-nowrap"><a href="{{ url_for('search.index', cid=entry.category.id) }}">Search this category</a></span>
                            </div>
                        </div>
                        <div class="pb-2 row">
                            <div class="col-sm-3 label"><span>Gene names</span></div>
                            <div class="col-sm-9 value">
                                {% if entry.gene_names %}
                                <span class="mb-0">{{entry.gene_names|join(", ")}}</span>
                                {% else %}
                                <span class="mb-0"> - </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="pb-2 row">
                            <div class="col-sm-3 label"><span>Sequence length</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{entry.sequence|length}} AA</span>
                            </div>
                        </div>
                        <div class="pb-2 row">
                            <div class="col-sm-3 label"><span>UniProt</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{entry.uniprot_id}}</span><span class="ext-link text-nowrap"> <a href="https://www.uniprot.org/uniprotkb/{{entry.uniprot_id}}/entry">go to UniProt</a></span>
                            </div>
                        </div>
                        <div class="pb-1 row">
                            <div class="col-sm-3 label"><span>Lineage</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">
                                    <ul class="lineage-path">
                                        {% for lin in entry.lineage %}
                                            {% if not lin.hidden %}
                                                <li><a href="https://uniprot.org/taxonomy/{{lin.id}}">{{lin.name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- end page header -->
</header>

<div class="card card-body mx-3 mx-md-4 pb-0">
    <section class="my-3">
        {% if multimer is defined %}
            <!-- structure / views options -->
            <div class="container">              
                <div class="row py-3 mt-3">
                    <div class="col-12 start-0">
                        
                        <div class="dropdown float-start me-2 multimer-dropdown-wrapper">
                                <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{multimer.value}}
                                </a>

                                <ul id="select_multimer" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {# * For now every multimer has a seperate call to the backend. #}
                                    {# ? Since all required information should be available from the first call, we may want to offload this to the client in the future. #}
                                    {# ? Maybe add something to indicate the default option? #}
                                    {% for mult in entry.multimers %}
                                        <li><a class="dropdown-item" href="{{ reload(mult,rank) }}">{{mult.value}}</a></li>
                                    {% endfor %}
                                   
                                    {% if entry.pdb_ids is defined %}
                                        {% for pdb in entry.pdb_ids %}
                                            <li><a class="dropdown-item pdb" href="javascript:void(0)" onclick="initMolstarViewer('https://www.ebi.ac.uk/pdbe/entry-files/{{pdb|lower}}_updated.cif', '{{pdb}}')">PDB: {{pdb}}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                        </div>

                        <div class="dropdown float-start rank-dropdown-wrapper">
                            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Rank {{rank}}
                            </a>

                            <ul id="select_rank" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for n in range(5) %}
                                    <li><a class="dropdown-item option-{{n + 1}}" href="{{ reload(multimer, (n + 1)) }}">Rank {{n + 1}} - Model {{entry.get_model_id(multimer, n + 1)}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="dropdown float-end download-dropdown-wrapper">
                            <a class="btn btn-sm btn-secondary btn-download float-end" href="{{url_for('main.download', uid=entry.uniprot_id)}}" role="button" title="Download all structure data (zipped)">
                                <span class="material-icons-round">download</span>
                                <span class="caption">Download</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container my-3">
                <div class="row">
                    <!-- sidebar left -->
                    <div class="col-lg-3 d-none d-lg-block model-legend">
                        {% include "contents/model_legend.html" %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-3">
                            <div id="viewer-container" class="col-lg-12"><!-- mask right sidebar Molstar viewer -->
                                <div id="mspViewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5 pae-wrapper">
                    <div class="col-lg-3">
                        {% include "contents/pae_legend.html" %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-3">
                            <div id="pae-view" class="columns medium-9">
                                <div id="pae-container" class="r{{rank | string}} mx-auto" style="background-image: url('{{ img_path('_pae.png') }}')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5 plddt-wrapper">
                    <div class="col-lg-3">
                        {% include "contents/plddt_legend.html" %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-3">
                            <div class="w-100">
                                <div id="coverage-container" class="mx-auto w-100">
                                    <img src="{{ img_path('_coverage.png') }}" class="w-100 h-auto">
                                </div>
                                <div id="plddt-container" class="mx-auto w-100">
                                    <img src="{{ img_path('_plddt.png') }}" class="w-100 h-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# * PhyD3 phylogenetic tree viewer #}
                {% if entry.category.name != 'Viral quadruplet' and entry.category.name != 'Viral triplet' %}
                <div class="row my-5">
                    <div class="col-lg-3">
                        {% include "contents/phylotree_legend.html" %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-3">
                            <div class="w-100">
                                <div id="phyd3-container" class="phy mx-auto w-100">
                                    <div class="phyd3-overlay"><a href="/categories/viewer/{{ entry.category.id }}" target="_blank"><h3>Click to open interactive version in new tab</h3></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {# * Skylign sequence alignment viewer #}
                <div class="row my-5">
                    <div class="col-lg-3">
                        {% include "contents/hmm_legend.html" %}
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-3">
                            <div class="w-100">
                                <div id="logo-container" class="logo mx-auto w-100" data-logo=""></div>
                                <div id="logo_info"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-lg-3">
                        <h3>Last updated</h3>
                    </div>
                    <div class="col-lg-9">
                        <div class="row mt-2">
                            <p>This entry has been updated on {{entry.last_updated.date() | string}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {# TODO: Add better formatting. #}
            <div class="container">              
                <div class="row py-3 mt-3">
                    <div class="col-12">
                        <h3>No structures found for this histone.</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {# TODO: no AlphaFold attribution necessary when viewing PDB entry #}
    <section id="attribution" class="bg-gradient-dark mx-n3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-start mb-5 mt-5 attribution-predictions">
                    {% include "contents/attribution.html" %}
                    {% if entry.publications %}
                        <div class="attribution-additional"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {# TODO: write disclaimer text #}
    {#
    <section class="my-3">
        <div class="container">              
            <div class="row py-3 mt-3">
                <div class="col-12">
                    <h3>Disclaimer etc.</h3>
                </div>
            </div>
        </div>
    </section>
    #}
</div>
{% endblock content %}

{% block javascripts %}
    {% if multimer is defined %}
        <script>
            // https://molstar.org/docs/plugin/instance/
            // example: https://github.com/molstar/pdbe-molstar/blob/master/index.html

            const mspViewer = document.querySelector("#mspViewer");
            const multimerModelURL = "https://prohistonedb.universiteitleiden.nl/{{entry.get_cif_path(multimer, rank).as_posix()}}";
            const mspOpts = {
                // https://molstar.org/viewer-docs/query-parameters/
                layoutIsExpanded: false, // expand to window
                layoutShowControls: true, // rightsidebar & sequence panel
                layoutShowRemoteState: false,
                layoutShowSequence: true,
                layoutShowLog: false,
                layoutShowLeftPanel: false, // adds "msp-layout-hide-left" class
                alphafoldView: true,
                // show/hide viewport buttons
                viewportShowExpand: false,
                viewportShowSelectionMode: false,
                viewportShowAnimation: false,
                viewportShowControls: false // control panel (= rightsidebar & sequence panel) toggle
            };

            function cleanUpPDBLayout(pdbid) {
               /*
                * multimer dropdown: show PDB id on button
                * disable/hide Rank dropdown?
                * hide Download button?
                * hide Molstar legend
                * hide PAE wrapper
                * hide LDDT wrapper
                * hide AlphaFold publications (but keep Leiden ones?)
                * show DOI reference
               */

                const elementsHidden = document.querySelectorAll(".pae-wrapper, .plddt-wrapper, .attribution-predictions, .viewer-legend, .model-legend p");
                elementsHidden.forEach(el => el.style.display = "none");

                const elementsShown = document.querySelectorAll(".attribution-additional");
                elementsShown.forEach(el => el.style.display = "block");

                multimerBtn = document.querySelector(".multimer-dropdown-wrapper a");
                multimerBtn.innerHTML = "PDB: " + pdbid;
            }

            async function initMolstarViewer(modelURL, pdbid) {
                try {
                    // Wait for the viewer instance to be created
                    const viewer = await molstar.Viewer.create('mspViewer', mspOpts);
                    // Once we have the viewer, load the structure
                    await viewer.loadStructureFromUrl(modelURL, format='mmcif');

                    // adjust viewer layout
                    /*
                    const mspLayoutHide = document.querySelector(".msp-layout-hide-left.msp-layout-hide-bottom");
                    mspViewer.style.width = '100%';
                    mspLayoutHide.classList.add("msp-layout-hide-right");
                    */

                    if (pdbid) {
                        cleanUpPDBLayout(pdbid);
                    }
                } catch (error) {
                    console.error('Failed to initialize Mol* viewer:', error);
                }
            }

            // Load initial multimer model
            initMolstarViewer(multimerModelURL);
        </script>

        {# * Skylign HMM viewer scripts #}
        <script>
            const HMMJSONurl = "{{ url_for('static', filename=(entry.category.static_logo_path | string | replace(" ","_"))) }}";
        </script>
        <script src="{{ url_for('static', filename = 'assets/js/custom/skylign.js') }}" type="text/javascript"></script>

        {# * PhyD3 Phylogenetic tree viewer scripts #}
        {% if entry.category.name != 'Viral quadruplet' and entry.category.name != 'Viral triplet' %}
            <script>
                const phyd3xml = "{{ url_for('static', filename=(entry.category.static_phylotree_path | string | replace(" ","_"))) }}";
            </script>
            <script src="{{ url_for('static', filename = 'assets/js/custom/phy.js') }}" type="text/javascript"></script>
        {% endif %}
    {% endif %}

    {% if entry.publications|length %}
    <script>
        const doiList = {{entry.publications}};

        async function fetchPublications() {
            const response = await fetch('{{ url_for('static', filename = 'publications/doi_to_apa.json') }}');
            const doiToApaObj = await response.json();

            let formattedReferences = "";
            for (let doi of doiList) {
                formattedReferences += doiToApaObj[doi] + "<br>";
            }
            
            const referencesContainer = document.querySelector(".attribution-additional");
            referencesContainer.innerHTML = formattedReferences;
        }

        fetchPublications();
    </script>
    {% endif %}
{% endblock javascripts %}