{% extends 'layouts/base.html.j2' %}

{% block title %} {{siteName}} | Error{% endblock title %}

{% block body %} class="not-found bg-gray-200" {% endblock body %}

{% block content %}
<header>
  <div class="page-header min-vh-75" style="background-image: url('{{ url_for('static', filename = 'assets/img/generative-circles-header.png' )}}')">
    <span class="mask bg-gradient-secondary opacity-6"></span>
    <div class="container mt-11">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          {# TODO: change the error message based on an error page argument (403/404/500) #}
          {# Error 403 #}
          {# <h1 class="text-white pt-3 mt-n5">Error 403 - Access denied</h1> #}
          {# Error 404 #}
          <h1 class="text-white pt-3 mt-n5">Oops!</h1>
          <h3 class="text-white">The page you're looking for doesn't exist.</h3>
          {# Error 500 #}
          {# <h1 class="text-white pt-3 mt-n5">Error 500 - Internal server error</h1> #}
        </div>
      </div>
  
    </div>
  </div>
</header>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
