{% extends 'layouts/base.html.j2' %}

{% set RESULTS_PER_PAGE = 20 %}

{% block title %} {{siteName}} Search {% endblock title %}
{% block body %} class="search fluid-bg" {% endblock body %}

{% block header %}

{% include 'includes/navigation_search.html.j2' %}

{% endblock header %}

{% block content %}

  <header>
    <div class="page-header pb-5">
      <div class="container">
        <div class="container mt-7">
            <div class="row">
                <div class="col-lg-8 my-auto">
                    <h2 class="text-white pt-3">Search results for {{ request.args.get('q') }}</h2>
                    {% if num_results == 0 %}
                    <p class="mb-4 text-white">No results have been found.</p>
                    {% else %}
                    {% set results_min = (page - 1) * RESULTS_PER_PAGE + 1 %}
                    <p class="mb-4 text-white">Showing {{results_min}}-{{results_min + (results | length) - 1}} of {{num_results}} results</p>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body mx-3 mx-md-4">
     <div class="container my-3">
            <div class="row">
                <!-- sidebar left (search facets) -->
                <div id="facets-container" class="col-xl-4 col-lg-5 col-md-6 d-none d-md-block mt-3">
                    <h3>Filter by:</h3>
                    <form name="filters" method="GET" action="{{ url_for('search.index') }}">
                        <div class="row mt-3 filter-category">
                            <div class="label"><h5>Category</h5></div>
                            <div id="filter-category-container" class="col-11 ps-0 mb-2">
                                <div class="form-check">
                                    {% for cat in categories %}
                                    <div class="form-check ps-0">
                                        <input class="form-check-input" type="checkbox" name="cat" value="{{cat}}" id="categoryCheck{{loop.index}}">
                                        <label class="form-check-label" for="categoryCheck{{loop.index}}">
                                            {{cat}}
                                        </label>
                                        <span class="filter-num badge">
                                            n
                                        </span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 filter-lineage">
                            <div class="label"><h5>Lineage</h5></div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="tax" value="archaea" id="lineageCheck1">
                                <label class="form-check-label" for="lineageCheck1">
                                    Archaea
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="tax" value="bacteria" id="lineageCheck2">
                                <label class="form-check-label" for="lineageCheck2">
                                    Bacteria
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                        </div>

                        <div class="row mt-3 filter-sequence">
                            <div class="label"><h5>Sequence length</h5></div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="seql" value="1-200" id="sequenceCheck1">
                                <label class="form-check-label" for="sequenceCheck1">
                                    1 - 200
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="seql" value="201-400" id="sequenceCheck2">
                                <label class="form-check-label" for="sequenceCheck2">
                                    201 - 400
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="seql" value="401-600" id="sequenceCheck3">
                                <label class="form-check-label" for="sequenceCheck3">
                                    401 - 600
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="seql" value="601-800" id="sequenceCheck4">
                                <label class="form-check-label" for="sequenceCheck4">
                                    601 - 800
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                            <div class="form-check col-10">
                                <input class="form-check-input" type="checkbox" name="seql" value="801-9999" id="sequenceCheck5">
                                <label class="form-check-label" for="sequenceCheck5">
                                    801 -
                                </label>
                                <span class="filter-num badge">
                                    n
                                </span>
                            </div>
                        </div>
                        {% include 'includes/search_hidden.html.j2' %}
                    </form>
                </div>
               

                 <div class="col-xl-8 col-lg-7 col-md-6 mt-3">
                    
                    {# * Applied filters block #}
                    {% if req_filters and (req_filters | length) > 0 %}
                        <div id="applied-filters-container" class="d-grid gap-2 d-md-block mb-4">
                            <span class="label">Filters:</span>
                            {% for key in req_filters.keys() %}
                                {% for f in req_filters.getlist(key) %}
                                    <button type="button" class="btn btn-light" style="vertical-align: baseline">
                                        <span class="caption">{{(key | field_name)}}: {{f}}</span>
                                        <span class="material-icons-round">disabled_by_default</span>
                                    </button>
                                {% endfor %}
                            {% endfor %}

                            <form name="reset-filters" method="GET" action="{{ url_for('search.index') }}" style="display: inline-block">
                                <button type="submit" class="btn btn-secondary" style="vertical-align: baseline">
                                    <span class="caption">Clear filters</span>
                                    <span class="material-icons-round">delete</span>
                                </button>
                            </form>
                        </div>
                    {% endif %}

                    {# card view #}
                    {# single entry; loop this section #}
                    {% for r in results %}
                    <div class="row mt-3 mb-5 result-item">
                        <h5><a href="{{ url_for('main.entry', uniprot_id=r['uniprot_id']) }}">{{r["uniprot_id"]}}</a></h5>
                        <div class="row">
                            <div class="col-sm-3 label"><span>Category</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{r["category"]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 label"><span>Protein</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{r["protein_id"]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 label"><span>Gene</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{r["gen_id"]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 label"><span>Organism</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0 float-start me-2">{{r["organism"]}}</span><span class="link"><a href="{{ url_for('search.index', oid=r['organism_id']) }}">Search this organism</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 label"><span>Length</span></div>
                            <div class="col-sm-9 value">
                                <span class="mb-0">{{r["sequence_len"]}} AA</span>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}

                    {# table view #}
                    {# * https://getbootstrap.com/docs/5.0/content/tables/ #}
                    <div id="results-table" class="col-12">
                        <table id="bs-table" class="table table-striped table-hover table-responsive-md" data-toggle="table">
                            <thead>
                                <tr>
                                    <th data-field="uniprotID" scope="col">UniProt ID</th>
                                    <th data-field="category" scope="col">Category</th>
                                    <th data-field="organism" scope="col">Protein</th>
                                    <th data-field="gene" scope="col">Gene ID</th>
                                    <th data-field="organism" scope="col">Organism</th>
                                    <th data-field="sequence" scope="col">Length</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in results %}
                            <tr>
                                <td><a href="{{ url_for('main.entry', uniprot_id=r['uniprot_id']) }}">{{r["uniprot_id"]}}</a></td>
                                <td>{{r["category"]}}</td>
                                <td>{{r["protein_id"]}}</td>
                                <td>{{r["gen_id"]}}</td>
                                <td>{{r["organism"]}}</td>
                                <td>{{r["sequence_len"]}} AA</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% include "includes/pager.html.j2" %}

    </div>
  </div>
  {% endblock content %}

  {% block javascripts %}
    <script>
        // change placeholder text to reflect we're searching within search results on the search results page
        window.addEventListener("DOMContentLoaded", () => {
            document.querySelector('input[name="q"]').placeholder = "Search within results";

            {# * set checkboxes to checked for each applied filter in query #}
            let filterArgs = {};
            {% if request.args is defined and request.args|length %}
                {% for arg in request.args %}
                    // overwrites multiple args with same name
                    filterArgs["{{arg}}"] = "{{request.args.get(arg)}}";
                {% endfor %}
            {% endif %}
            console.log(filterArgs);

            const filters = document.querySelectorAll(".form-check-input");
            filters.forEach( filter => {
                filter.addEventListener("change", () => {
                    document.querySelector("form[name='filters']").submit();
                });
                
                for (let key in filterArgs) {    
                    if (key === filter.name) {
                        if (filterArgs[key] === filter.value) {
                            filter.checked = true;
                        }
                    }
                }
            });
        });
    </script>
  {% endblock javascripts %}