<button class="basket shadow-none border-0 ms-3 me-3 px-0 py-0 position-relative" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offBasket" aria-controls="offBasket" aria-expanded="false"
  aria-label="Download basket" title="View download basket">
  <span class="material-icons-round pt-1">shopping_basket</span>
  <span id="basket-counter" class="position-absolute top-10 start-100 badge rounded-pill bg-primary d-none">0</span>
</button>