<button class="basket shadow-none border-0 ms-3 me-2 px-0 py-0 position-relative" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offBasket" aria-controls="offBasket" aria-expanded="false"
  aria-label="Download basket" title="View download basket">
  <span class="material-icons-round">shopping_basket</span>
  {# TODO: add counter for number of entries in basket #}
  <span id="basket-counter" class="position-absolute top-0 start-100 badge rounded-pill bg-primary d-none">12</span>
</button>