<!-- Cookie banner -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0 rounded-0 py-2" role="alert">
  This website uses cookies for essential functionality.
  {# TODO: add privacy policy page #}
  {# <a href="#" target="_blank" class="ms-2">Learn more</a> #}
  <button type="button" class="btn btn-primary btn-sm ms-1 mb-0" onclick="window.cb_hideCookieBanner()">
    OK
  </button>
</div>
<!-- End of Cookie banner -->