{# * some dummy footer links #}
<footer class="footer py-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-4 mb-4">
        <div>
          <h5 class="font-weight-bolder footer-brand">{{siteName}}</h5>
          <h6>{{siteNameLong}}</h6>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Developed at</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.universiteitleiden.nl/en/science/chemistry" target="_blank">
                Leiden Institute of Chemistry
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.universiteitleiden.nl/en/science/chemistry/macbio/dame" target="_blank">
                Chromatin organization & dynamics group
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-6 mb-4">
        <div class="lu-logo-wrapper">
          <a href="https://www.universiteitleiden.nl/en">
            <img src="{{ url_for('static', filename = 'assets/img/zegel.png' )}}" width="151" height="64">
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>