<ul class="navbar-nav navbar-nav-hover ms-auto navbar-nav-scroll">
  <li class="nav-item dropdown dropdown-hover mx-2">
    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks"
      data-bs-toggle="dropdown" aria-expanded="false">
      Categories
      <span class="ms-auto ms-md-2 material-icons-round">expand_more</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-sm border-radius-xl mt-0 mt-lg-3"
      aria-labelledby="dropdownMenuPages">
      {# ? Should dropdown-menu breakpoint class correspond with navbar-expand breakpoint? (XL) #}
      <!--<div class="d-none d-lg-block">-->
      <li>
        <a href="{{url_for('categories.overview')}}" class="dropdown-item">
          <h6 class="dropdown-header px-0">Categories overview</h6>
        </a>
      </li>
      {% for cat in categories %}
      <li>
        <a href="#" class="dropdown-item">
          <span>{{cat}}</span>
        </a>
      </li>
      {% endfor %}
      <!--</div>-->
    </ul>
  </li>

  <li class="nav-item dropdown dropdown-hover mx-2">
    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks"
      data-bs-toggle="dropdown" aria-expanded="false">
      About
      <span class="ms-auto ms-md-2 material-icons-round">expand_more</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-sm border-radius-xl mt-0 mt-lg-3" 
      aria-labelledby="dropdownMenuPages">
      <!--<div class="d-none d-lg-block">-->
      <li>
        <a href="{{url_for('main.about')}}" class="dropdown-item">
          <span>About {{siteName}}</span>
        </a>
      </li>
      <li>
        <a href="#" class="dropdown-item">
          <span>Changelog</span>
        </a>
      </li>
      <!--</div>-->
    </ul>
  </li>
</ul>