<ul class="navbar-nav ms-auto">
  <li class="nav-item offcanvas-brand ps-3 pb-2">
    <a href="/" class="font-weight-bolder">{{siteName}}</a>
  </li>
  
  <li class="nav-item mx-2">
     <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{{url_for('categories.overview')}}" >Categories</a>
  </li>

  <li class="nav-item dropdown mx-2">
    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks"
      data-bs-toggle="dropdown" aria-expanded="false">
      About
      <span class="ms-auto ms-md-1 material-icons-round">expand_more</span>
    </a>
    <ul class="dropdown-menu dropdown-sm border-radius-xl mt-0" 
      aria-labelledby="dropdownMenuPages">
      <li>
        <a href="{{url_for('main.about')}}" class="dropdown-item">
          <span>About {{siteName}}</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('main.changelog')}}" class="dropdown-item">
          <span>Changelog</span>
        </a>
      </li>
    </ul>
  </li>
</ul>