<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-xl border-radius-xl top-0 mt-4 z-index-fixed position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/">{{siteName}}</a>

          <button class="navbar-toggler shadow-none ms-2 px-0 py-0 material-icons-round" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
          aria-label="Toggle navigation">menu
          </button>

          <div class="offcanvas offcanvas-end pt-3 pb-2 py-lg-0" id="navigation">
            <div class="offcanvas-header">
              <button class="btn btn-close px-2 pt-3 mb-0 material-icons-round">close</button>
            </div>
            <div class="offcanvas-body">
              {% include 'includes/menu_list.html.j2' %}
            </div>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>