{# TODO: highlight current page in menu #}
<!-- Navbar -->
<div class="position-sticky z-index-sticky top-0">
  <div class="row">
    <nav
      class="navbar navbar-expand-xl top-0 blur z-index-fixed shadow position-absolute px-7 py-2 start-0 end-0">
      <div class="container-fluid px-0">
        <a class="navbar-brand font-weight-bolder ms-sm-3" href="/">
          {{siteName}}
        </a>

        {# https://getbootstrap.com/docs/5.0/utilities/flex/ #}
        <div class="flex-grow-1">
          <div class="w-70 d-none d-md-block mx-auto">
            {% include 'includes/search_form.html.j2' %}
          </div>
        </div>

        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation" style="flex-grow: initial !important">
          {% include 'includes/menu_list.html.j2' %}
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </div>
</div>