  <!--   Core JS Files   -->
  {# TODO: enable Matomo analytics once the PROD version is up & running #}
  {# TODO: Check for cookies #}
  <!-- Matomo analytics -->
  <!-- <script src="{{ url_for('static', filename = 'assets/js/custom/matomo.js' )}}" type="text/javascript"></script> -->
  <script src="{{ url_for('static', filename = 'assets/js/core/popper.min.js' )}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'assets/js/core/bootstrap.min.js' )}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'assets/js/custom/wNumb.min.js' )}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'assets/js/custom/nouislider.min.js' )}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'assets/js/plugins/perfect-scrollbar.min.js' )}}"></script>
  <script src="{{ url_for('static', filename = 'assets/js/material-kit.min.js' )}}" type="text/javascript"></script>