{% if req_filters is defined and (req_filters | length) > 0 %}
    {% for key in req_filters %}
        {% for f in req_filters.getlist(key) %}
            <input type="hidden" name="{{key}}" value="{{f}}" />
        {% endfor %}
    {% endfor %}
{% endif %}