<div class="container col-lg-8 col-sm-12 mx-auto mt-4 px-0">
    <div class="position-relative border-radius-xl bg-white shadow mb-3 px-4 gx-5 py-4">
        
        {% include 'includes/search_form.html.j2' %}

        <div class="row mt-3 d-none d-xl-block">
          {# TODO: remove examples when selecting dropdown option (or show only relevant example) #}
          <div class="col-md-12">
            <small>Examples:</small>
            <span class="badge bg-light text-dark"><a href="{{ url_for('main.entry', uniprot_id = 'A0A831SMI2') }}" title="example UniProt ID">A0A831SMI2</a></span>
            <span class="badge bg-light text-dark"><a href="{{ url_for('search.index', **{Field.ORGANISM.search_name: 'Candidatus Diapherotrites archaeon'}) }}" title="example organism">Candidatus D. archaeon</a></span>
            <span class="badge bg-light text-dark"><a href="{{ url_for('search.index', **{Field.LINEAGE.search_name: 'Thermococcaceae'}) }}" title="example taxonomy">Thermococcaceae</a></span>
            <span class="badge bg-light text-dark"><a href="{{ url_for('search.index', **{Field.SEQUENCE.search_name: 'SALAD'}) }}" title="example sequence">SALAD</a></span>
            <span class="badge bg-light text-dark"><a href="{{ url_for('search.index', **{Field.GENE_NAMES.search_name: 'BBI30458.1'}) }}" title="example gene name">BBI30458.1</a></span>
          </div>
        </div>
    </div>
  </div>