<form name="search" method="GET" action="{{ url_for('search.index') }}"> 
    <div class="input-group">
        <div id="filter-type" class="dropdown py-0">
            <a href="#" class="btn btn-primary dropdown-toggle mb-0 caption" data-bs-toggle="dropdown" aria-expanded="false">Select type</a>
            <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item" data-value="{{Field.ANY.search_name}}">All types</a></li>
                {% for field in Field.search_fields() %}
                    <li><a href="#" class="dropdown-item" data-value="{{field.search_name}}">{{field.search_name | field_name}}</a></li>
                {% endfor %}
            </ul>
            <input type="hidden" name="filter" value="{{Field.ANY.search_name}}" />
        </div>
        <input type="text" class="form-control bg-light ps-2" name="q" placeholder="Search" maxlength="40" />
        <span class="input-group-text pe-1 d-none d-md-block" style="z-index: 9">
            {# <button class="border-0 bg-transparent material-icons-round">clear</button> #}
            <button type="submit" class="border-0 bg-transparent material-icons-round">search</button>
        </span>
        {% include 'includes/search_hidden.html.j2' %}
    </div>
</form>