<div class="container col-lg-8 col-sm-12 mx-auto mt-5">
    <div class="position-relative border-radius-xl bg-white shadow mb-3 px-4 gx-5 pt-4 pb-3">
        <form name="search" method="GET" action="{{url_for('search.index')}}"> 
          <div class="input-group mb-1">
            {# * not yet sure whether to use a standard select dropdown or Bootstrap version (disabled below) #}
            {#
            <div class="dropdown" id="searchSelect">
              <a class="btn btn-alert dropdown-toggle mb-0 rounded-0 rounded-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Search all
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-value="all">Search all</a></li>
                <li><h6 class="dropdown-header">Search within:</h6></li>
                <li><a class="dropdown-item" href="#" data-value="uniprot">UniProt accession</a></li>
                <li><a class="dropdown-item" href="#" data-value="taxonomy">Taxonomy</a></li>
                <li><a class="dropdown-item" href="#" data-value="organism">Organism</a></li>
                <li><a class="dropdown-item" href="#" data-value="genID">Gen ID</a></li>
                <li><a class="dropdown-item" href="#" data-value="sequence">Sequence</a></li>
              </ul>
            </div>
            #}
            
            <select class="btn btn-primary dropdown-toggle mb-0" name="filter" data-bs-toggle="dropdown">
              <option>Select search</option>
              <option value="uid">UniProt ID</option>
              <option value="tax">Taxonomy</option>
              <option value="org">Organism</option>
              <option value="gid">Gen ID</option>
              <option value="seq">Sequence</option>
            </select>
            
            <input type="text" class="form-control bg-light ps-3" name="q" maxlength="40" />
            <span class="input-group-text border-0 pe-3 w-6" style="z-index: 9">
              <i class="fas fa-search" id="search-icon"></i>
            </span>
          </div>
        </form>
        <div class="row pb-2 mt-3 d-none d-xl-block">
          {# TODO: remove examples when selecting dropdown option (or show only 1 example) #}
          <div class="col-md-12">
            <small>Examples:</small>
            {# TODO: use actual IDs from the database #}
            <span class="badge bg-light text-dark">UP000027093</span>{# example protein id #}
            <span class="badge bg-light text-dark">KCZ72620.1</span>{# example gen id #}
            <span class="badge bg-light text-dark"><a href="{{url_for('main.entry', uniprotID = 'A0A7X6DRI5')}}">A0A7X6DRI5</a></span>{# example Uniprot id #}
            <span class="badge bg-light text-dark">Candidatus Diapherotrites archaeon</span>{# example organism #}
          </div>
        </div>
    </div>
  </div>