<form name="search" method="GET" action="{{ url_for('search.index') }}"> 
    <div class="input-group">
        <select class="btn btn-primary dropdown-toggle mb-0" name="filter" data-bs-toggle="dropdown">
        <option value="any" selected>All types</option>
        <option disabled>---------------------</option>
        <option value="uid">UniProt ID</option>
        <option value="tax">Taxonomy</option>
        <option value="org">Organism</option>
        <option value="gen_id">Gen ID</option>
        <option value="seq">Sequence</option>
        </select>
        {# ! FIXME: image causes issues with :focus state of search input field #}
        {# <img src="{{ url_for('static', filename = 'assets/img/down-arrow-white.svg') }}" alt="down-arrow" class="arrow"> #}
    
        <input type="text" class="form-control bg-light ps-2" name="q" placeholder="Search" maxlength="40" />
        <span class="input-group-text pe-3 d-none d-lg-block py-2" style="z-index: 9">
            <button input type="submit" class="border-0 bg-transparent material-icons-round">search</button>
        </span>
        {% include 'includes/search_hidden.html.j2' %}
    </div>
</form>