<div id="progressModal" class="modal fade" data-bs-backdrop="static" 
    data-bs-keyboard="false" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm d-flex">
    <div class="modal-content border-0 rounded-5">
      <div class="modal-body py-4">
        <div class="status-wrapper text-center my-auto">
            <div class="spinner-border text-dark" role="status"></div>
            <h5>Creating zip file...</h5>
        </div>
      </div>
    </div>
  </div>
</div>