{# TODO: move settings to config #}
{% set siteName = "ProHistoneDB" %}
{% set siteNameLong = "Prokaryotic Histone Database" %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename = 'assets/img/apple-icon.png' )}}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'assets/img/favicon.png' )}}">
<title>
  {% block title %}{% endblock title %}
</title>
{# TODO: replace Font Awesome icons with locally hosted Material Icons #}
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- CSS Files -->
<link id="pagestyle" href="{{ url_for('static', filename = 'assets/css/material-kit.css' )}}" rel="stylesheet" />
{% block molstar %}{% endblock molstar %}
</head>

<body {% block body %}{% endblock body %} >

  {% block header %}

    {% include 'includes/navigation.html.j2' %}

  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
  
    {% include 'includes/footer.html.j2' %}

  {% endblock footer %}

  {% include 'includes/scripts.html.j2' %}

  {% block javascripts %}{% endblock javascripts %}

</body>
</html>