{# TODO: move settings to config #}
{% set siteName = "ProHistoneDB" %}
{% set siteNameLong = "Prokaryotic Histone Database" %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename = 'assets/img/apple-icon.png' )}}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'assets/img/favicon.png' )}}">
<title>
  {% block title %}{% endblock title %}
</title>
<!-- CSS Files -->
<link id="pagestyle" href="{{ url_for('static', filename = 'assets/css/material-kit.css' )}}" rel="stylesheet">
{% block molstar %}{% endblock molstar %}
{% block phyd3 %}{% endblock phyd3 %}
{% block skylign %}{% endblock skylign %}
</head>

<body {% block body %}{% endblock body %} >

  {% block header %}
    {% include 'includes/navigation.html.j2' %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  {% include 'includes/basket.html.j2' %}

  {% block footer %}
    {% include 'includes/footer.html.j2' %}
  {% endblock footer %}

  {% block cookie_banner %}
    {% include 'includes/cookie_banner.html.j2' %}
  {% endblock cookie_banner %}

  {% include 'includes/scripts.html.j2' %}

  {% block javascripts %}
  {% endblock javascripts %}

  {# * Basket Script * #}
  <script>
    // URL Constants
    const entryPageUrl = "{{url_for('main.entry', uniprot_id='')}}"
    let basketCount = 0
    let basketItems = []

    // Function definitions
    async function getBasket() {
      try {
        const response = await fetch("{{url_for('session.cart')}}", {
          method: "GET",
        })

        if (!response.ok) {
          throw new Error("Did not receive a succesfull request response.")
        }

        return response.json()
      } catch(error) {
        console.error("There has been a problem retrieving the 'download cart':", error)
      }
    }

    async function reloadBasket() {
      const items = await getBasket()
      const basketItemsTable = document.querySelector("table#basket-items tbody")
      const basketCounter = document.querySelector("#basket-counter")
      basketCount = items.length
      basketItems = []

      let html = ""
      
      items.forEach(item => {
        html += "<tr>\n"

        html += '  <td class="w-95"><a href="'
        html += entryPageUrl + item.uniprot_id
        html += '"><strong>'
        html += item.uniprot_id + " - " + item.organism_name
        html +='</strong></a></td>\n'

        html += '  <td class="text-center"><button class="btn btn-sm material-icons-round mb-0 px-0 py-0" title="Remove from basket"'
        html += ' onclick="removeFromBasket(\'' + item.uniprot_id + '\')"'
        html +='>delete</button></td>\n' 

        html += "</tr>\n"

        basketItems.push(item.uniprot_id)
      })

      basketItemsTable.innerHTML = html
      basketCounter.innerHTML = basketCount
      
      if (basketCount > 0) {
        basketCounter.classList.remove("d-none")
      } else {
        basketCounter.classList.add("d-none")
      }

      // Compare basket contents with search results & show/hide checkbox
      if (document.querySelector(".results")) {
        const resultRows = document.querySelectorAll(".results input.select")
        resultRows.forEach( row => {
            let basketStatusIcon = row.nextElementSibling
            if (basketItems.indexOf(row.value) > -1) { // item in basket
                row.classList.add("d-none")
                basketStatusIcon.classList.remove("d-none")
            } else {
              if (row.classList.contains("d-none")) {
                row.classList.remove("d-none")
                basketStatusIcon.classList.add("d-none")
              }
            }

            // Reset checked state; also resets Download & Add to basket buttons
            if (row.checked) {
              row.click()
            }
        })
        
      }
    }

    async function clearBasket() {
      try {
        const response = await fetch("{{url_for('session.cart')}}", {
          method: "DELETE",
        })

        if (!response.ok) {
          throw new Error("Did not receive a succesfull request response.")
        }
      } catch(error) {
        console.error("There has been a problem clearing the 'download cart':", error)
      }

      reloadBasket()
    }

    async function removeFromBasket(uniprot_ids) {
      console.log("Removing " + uniprot_ids + "...")
      try {
        const response = await fetch("{{url_for('session.cart_items')}}", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(uniprot_ids)
        })

        if (!response.ok) {
          throw new Error("Did not receive a succesfull request response.")
        }
      } catch(error) {
        console.error("There has been a problem updating the 'download cart':", error)
      }

      reloadBasket()
    }

    {# TODO: add timeout for Firefox downloads #}
    function clearSpinnerModal() {
      const activeModal = document.querySelector(".modal.show")
      if (activeModal) {
          bootstrap.Modal.getInstance(activeModal).hide()
      }
    }
    
    // HTML element variables
    const basketBtn = document.querySelector("button.basket")
    const basketDownloadAllBtn = document.querySelector("button#basket-download-btn")
    const basketClearBtn = document.querySelector("button#basket-clear-btn")

    // Basket View Button & Item List
    basketBtn.addEventListener("click", async function(_event) {
      reloadBasket()
    })

    // Download All Button
    basketDownloadAllBtn.addEventListener("click", async function(_event) {
      const items = await getBasket()
      //console.log(items)

      let uids = []
              
      items.forEach(item => {
          uids.push("uid="+item.uniprot_id)
      })

      //console.log(uids)
      
      if (uids.length > 0) {
        window.location = "{{url_for('main.download')}}?" + uids.join('&')
      } else {
        window.location = "{{url_for('main.download')}}"
      }

      // Clear basket after download
      clearBasket()

      // Close basket offcanvas
      const offCanvas = document.querySelector(".offcanvas.show")
      const openedCanvas = bootstrap.Offcanvas.getInstance(offCanvas)
      openedCanvas.hide()
    })

    // Clear Basket Button
    basketClearBtn.addEventListener("click", async function(_event) {
      clearBasket()
      
      // Close basket offcanvas
      const offCanvas = document.querySelector(".offcanvas.show")
      const openedCanvas = bootstrap.Offcanvas.getInstance(offCanvas)
      openedCanvas.hide()
    })

    // Show basket count on load on all pages
    window.onload = reloadBasket()
  </script>

  {# * additional javascript #}
  <script type="text/javascript">
    const searchTypeBtn = document.querySelector("#filter-type .caption")
    const searchTypeOptions = document.querySelectorAll("#filter-type .dropdown-item")
    const searchTypeHidden = document.querySelector("#filter-type input[name='filter']")

    // set searchTypeLabel for dropdown select ("selectpicker" functionality)
    searchTypeOptions.forEach(searchType => {
      searchType.addEventListener("click", function(e) {
        searchTypeHidden.value = this.dataset.value
        searchTypeBtn.innerText = this.innerText
        // first deselect all options, then add class
        searchTypeOptions.classList.remove("selected")
        this.classList.add("selected")

        e.preventDefault()
      })
    })

    // navbar offcanvas close button closes dropdown menu; should hide offcanvas
    document.addEventListener("click", e => { 
      if (e.target.classList.contains("btn-close")) {
        const offCanvas = document.querySelector(".offcanvas.show")
        const openedCanvas = bootstrap.Offcanvas.getInstance(offCanvas)
        openedCanvas.hide()
      }
    })

    // intialize mini scrollbar for basket items table  
    if (document.getElementById("basket-items-wrapper") !== null) {
      const basketScroll = new PerfectScrollbar("#basket-items-wrapper")
    }

    /**
    * @description Shows the cookie banner
    */
    function showCookieBanner() {
        let cookieBanner = document.getElementById("cb-cookie-banner")
        cookieBanner.style.display = "block"
    }

    /**
    * @description Hides the Cookie banner and saves the value to localstorage
    */
    function hideCookieBanner() {
        localStorage.setItem("cb_isCookieAccepted", "yes")

        let cookieBanner = document.getElementById("cb-cookie-banner")
        cookieBanner.style.display = "none"
    }

    /**
    * @description Checks the localstorage and shows Cookie banner based on it.
    */
    function initializeCookieBanner() {
        let isCookieAccepted = localStorage.getItem("cb_isCookieAccepted")
        if (isCookieAccepted === null)
        {
            localStorage.setItem("cb_isCookieAccepted", "no")
            showCookieBanner()
        }
        if (isCookieAccepted === "no") {
            showCookieBanner()
        }
    }

    // Assigning values to window object
    window.onload = initializeCookieBanner()
    window.cb_hideCookieBanner = hideCookieBanner
  </script>
</body>
</html>