{# TODO: move settings to config #}
{% set siteName = "ProHistoneDB" %}
{% set siteNameLong = "Prokaryotic Histone Database" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename = 'assets/img/apple-icon.png' )}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'assets/img/favicon.png' )}}">
    <title>
        {{siteName}}
    </title>
    {% block libs %}
    {% endblock libs %}
</head>

<body {% block body %}{% endblock body %}>

    {% block phyd3 %}
    {% endblock phyd3 %}

    {% block footerscripts %}
    {% endblock footerscripts %}
</body>
</html>